biom-format
biopython
burrito
burrito-fillings
click
cogent
decorator
emperor
enum34
funcsigs
future
gdata
h5py
ipython
ipython-genutils
matplotlib
mock
mpi4py
MySQL-python
natsort
nose
numpy
pandas
pathlib2
pbr
pexpect
pickleshare
progressbar2
prompt-toolkit
ptyprocess
Pygments
pynast
pyparsing
pyqi
python-dateutil
python-utils
pytz
PyYAML
qcli
qiime
qiime-default-reference
scandir
scikit-bio
scipy
simplegeneric
six
SQLAlchemy
traitlets
wcwidth
